html {
    font-family: var(--ff-base);
}

body {
    background-color: var(--surface-primary);
    font-size: var(--fs-body-regular);
    color: var(--text-primary);
}

h1 {
    color: var(--text-white);
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-heading);
    text-transform: capitalize;
    letter-spacing: -0.05em;
}

h1 {
    font-size: var(--fs-title);
}

h2 {
    font-size: var(--fs-section-heading);
}

h3 {
    font-size: var(--fs-heading);
}

h4 {
    font-size: var(--fs-body-large);
}

a {
    color: var(--text-white);
}

a:hover,
a:focus-visible {
    color: var(--text-white);
}
