<button type="submit">submit</button>

<style>
    button {
        background: transparent;
        color: var(--text-white);
        border: solid 1px var(--border-white);
        border-radius: var(--rounded-sm);
        padding: var(--padding-button);
        text-transform: uppercase;

        &:hover,
        &:focus-visible {
            background-color: rebeccapurple;
        }
    }
</style>
