---
import Layout from '../layouts/Layout.astro';
import CaseCard from '@components/cards/CaseCard.astro';
import LinkButton from '@components/buttons/LinkButton.astro';
---

<Layout title="Home">
    <section
        id="hero-section"
        class="hero-section section wrapper"
        data-width="full"
    >
        <h1>
            <span>they tried to erase the truth.</span>
            <br />
            <span>we archived it.</span>
        </h1>
        <LinkButton label="Our Mission" href="/" />
    </section>

    <section class="section wrapper cards" data-width="wide">
        <CaseCard>
            <h3>[case #5193] - Mage, Brazil - 2023</h3>
            <img src="https://picsum.photos/350/197" alt="test" />
            <p>Signature: QmTzQ1eZTzb1K1jxF9yME2Ht5LZso6AXPhAbn5QZqRGZgd</p>
        </CaseCard>
        <CaseCard>
            <h3>[case #5193] - Mage, Brazil - 2023</h3>
            <img src="https://picsum.photos/350/197" alt="test" />
            <p>Signature: QmTzQ1eZTzb1K1jxF9yME2Ht5LZso6AXPhAbn5QZqRGZgd</p>
        </CaseCard>
        <CaseCard>
            <h3>[case #5193] - Mage, Brazil - 2023</h3>
            <img src="https://picsum.photos/350/197" alt="test" />
            <p>Signature: QmTzQ1eZTzb1K1jxF9yME2Ht5LZso6AXPhAbn5QZqRGZgd</p>
        </CaseCard>
        <CaseCard>
            <h3>[case #5193] - Mage, Brazil - 2023</h3>
            <img src="https://picsum.photos/350/197" alt="test" />
            <p>Signature: QmTzQ1eZTzb1K1jxF9yME2Ht5LZso6AXPhAbn5QZqRGZgd</p>
        </CaseCard>
        <CaseCard>
            <h3>[case #5193] - Mage, Brazil - 2023</h3>
            <img src="https://picsum.photos/350/197" alt="test" />
            <p>Signature: QmTzQ1eZTzb1K1jxF9yME2Ht5LZso6AXPhAbn5QZqRGZgd</p>
        </CaseCard>
        <CaseCard>
            <h3>[case #5193] - Mage, Brazil - 2023</h3>
            <img src="https://picsum.photos/350/197" alt="test" />
            <p>Signature: QmTzQ1eZTzb1K1jxF9yME2Ht5LZso6AXPhAbn5QZqRGZgd</p>
        </CaseCard>
        <CaseCard>
            <h3>[case #5193] - Mage, Brazil - 2023</h3>
            <img src="https://picsum.photos/350/197" alt="test" />
            <p>Signature: QmTzQ1eZTzb1K1jxF9yME2Ht5LZso6AXPhAbn5QZqRGZgd</p>
        </CaseCard>
    </section>
</Layout>

<style>
    .hero-section {
        background: linear-gradient(
                rgb(39 39 39 / 0%) 0%,
                rgb(39 39 39 / 100%) 100%
            ),
            url('/images/night-sky.jpg');
        background-blend-mode: overlay;
        background-size: cover;
        background-position: bottom;

        min-block-size: 60dvh;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        h1 {
            text-align: center;
            font-family: var(--ff-tagline);
            text-shadow: 5px 5px 5px black;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        h3 {
            font-size: var(--fs-body-regular);
        }
    }
</style>
